{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        <div id="hidden">
            {% include 'nav/nav.html.twig' %}
            <h3>Les parcs d’attractions sont les chouchous des enfants. Petits parcs à <br /> l’ambiance familiale, parcs à thème (histoire, nature, science...) ou <br /> encore , chez Maguy Land variez les plaisirs !</h3>
        </div>
    </header>
    <section id="attraction">
        <div class="container mt-4">
            <h1 class="text-center mb-5">Nos attraction</h1>
            <div class="ligne row flex">
                {% for attraction in attractions %}
                    <div class="col-4">
                        <div class="card">
                            {% if attraction.filename %}
                                <a href="{{ path('attraction.show', {slug: attraction.slug, id: attraction.id}) }}">
                                    <img src="{{ vich_uploader_asset(attraction,'imageFile') }}" alt="card-img-top" style="width: 100%; height: 426px;">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('attraction.show', {id: attraction.id, slug: attraction.slug}) }}">{{ attraction.title }}</a>
                                </h5>
                                <p class="card-text">{{ attraction.description|slice(0, 75) ~ '...' }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="accommodation">
        <div class="container mt-4">
            <h1 class="text-center mb-5">Nos hébergement</h1>
            <div class="ligne row flex">
                {% for accommodation in accommodations %}
                    <div class="col-4">
                        <div class="card">
                            {% if accommodation.filename %}
                                <a href="{{ path('accommodation.show', {slug: accommodation.slug, id: accommodation.id}) }}">
                                    <img src="{{ vich_uploader_asset(accommodation,'imageFile') }}" alt="card-img-top" style="width: 100%; height: 426px;">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('accommodation.show', {id: accommodation.id, slug: accommodation.slug}) }}">{{ accommodation.title }}</a>
                                </h5>
                                <p class="card-text">{{ accommodation.description|slice(0, 75) ~ '...'}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}