{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilc</h1>
    </header>
    <section id="attraction">
        <div class="container mt-4">
            <h1 class="text-center mb-5">Nos attraction</h1>
            <div class="row flex">
                {% for attraction in attractions %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('attraction.show', {id: attraction.id, slug: attraction.slug}) }}">{{ attraction.title }}</a>
                                </h5>
                                <p class="card-text">{{ attraction.description |truncate(200, true, '...') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="accommodation">
        <div class="container mt-4">
            <h1 class="text-center mb-5">Nos hébergement</h1>
            <div class="row flex">
                {% for accommodation in accommodations %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('accommodation.show', {id: accommodation.id, slug: accommodation.slug}) }}">{{ accommodation.title }}</a>
                                </h5>
                                <p class="card-text">{{ accommodation.description |truncate(200, true, '...') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}