{% extends'base.html.twig' %}

{% block title 'Gérer les attractions' %}

{% block body %}
    <header>
        {% include 'nav/navadmin.html.twig' %}
    </header>
    <div class="container mt-4">
        <h1>Gérer les attraction</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for attraction in attractions %}
                <tr>
                    <td class="tableaup">{{ attraction.title }}</td>
                    <td>
                        <a href="{{ path('admin.attraction.edit', {id: attraction.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.attraction.delete', {id: attraction.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attraction.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.attraction.new') }}" class="btn btn-primary">Créer</a>
        </div>
    </div>
    <div class = 'container'>
        <div class="pagination">
            {{ knp_pagination_render(attractions) }}
        </div>
    </div>
{% endblock %}