{% extends'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
    <header>
        {% include 'nav/nav2.html.twig' %}
    </header>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3"><a href="{{ path('admin.attraction.index') }}">Admin attraction</a></div>
            <div class="col-md-3"><a href="{{ path('admin.accommodation.index') }}">Admin hébergement</a></div>
            <div class="col-md-3"><a href="{{ path('admin.user.index') }}">Admin utilisateur</a></div>
            <div class="col-md-3"><a href="{{ path('admin.ticket.index') }}">Admin ticket</a></div>
        </div>
    </div>
    <div class = 'container'>
        <div class="pagination">
            {{ knp_pagination_render(admins) }}
        </div>
    </div>
{% endblock %}