{% extends'base.html.twig' %}

{% block title 'Parc MaguyLand: tarifs et billets d\'entrée' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
        <h1>bhkxjvdkjxvslj hcdjls!cjcbfmdilc</h1>
    </header>
    <div class="container mt-4">
        {{ form_start(form, {'action': path('ticket.payment'), 'method': 'POST'}) }}
            <div class="row">
                <div class="col-md-8">{{ form_row(form.email) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(form.day) }}</div>
                <div class="col-md-4">{{ form_row(form.endday) }}</div>
            </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary">Acheter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
