{% extends'base.html.twig' %}

{% block title 'Gérer les hébergements' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
    </header>
    <div class="container mt-4 ticket">
        <h1>Vos achats</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom utilisateur</th>
                <th>Date</th>
                <th>Email</th>
                <th>Code</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>
                       <p>Nom de réservation :<br/> {{ ticket.username }}</p>
                    </td>
                    <td>
                        <p>Réservation du :<br/> {{ ticket.day|date('d/m/Y') }} au {{ ticket.endday|date('d/m/Y') }}</p>
                    </td>
                    <td>
                        <p>Adresse mail de réservation :<br/> {{ ticket.email }}</p>
                    </td>
                    <td>
                        <p>Code du ticket :<br/> {{ ticket.code }}</p>
                    </td>
                    <td>
                        <p>Prix :<br/> {{ ticket.price }} €</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = 'container'>
            <div class="pagination">
                {{ knp_pagination_render(tickets) }}
            </div>
        </div>
{% endblock %}