{% block footer %}
    <footer class="footer">
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <strong>© 2020 Copyright : <a href="{{ path('contact.index') }}">Contact, </a> <a href="{{ path('about') }}">A propos,</a> <a href="{{ path('legalNotice') }}">Mentions légales,</a> <a href="{{ path('termsOfService') }}">CGU,</a> <a href="{{ path('TermsofSales') }}">CGV</a></strong>
    </div>
</footer>
{% endblock %}