{% extends'base.html.twig' %}

{% block body %}
    <header id="header">
        {% include 'nav/nav.html.twig' %}
    </header>
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Contact</h1>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                <div class="col-md-6">{{ form_row(form.firsname) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_row(form.phone) }}</div>
                <div class="col-md-6">{{ form_row(form.email) }}</div>
            </div>

            {{ form_rest(form) }}
            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}