
{% block body %}
    <div id="logo">
        <a class="logo" href="{{ path('home') }}"> <img src="{{ asset('image/MAGUY1.png') }}" alt="logo"/></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span>Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if c_menu is defined and c_menu == 'attractions' %}active{% endif %}" href="{{ path('attraction.index') }}">Attractions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if c_menu is defined and c_menu == 'accommodations' %}active{% endif %}" href="{{ path('accommodation.index') }}">Hébergements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if c_menu is defined and c_menu == 'tickets' %}active{% endif %}" href="{{ path('ticket.index') }}">Acheter des billets</a>
                </li>
                {% if  app.user %}
                    <li class="nav-item">
                        <a class="nav-link {% if c_menu is defined and c_menu == 'ticket' %}active{% endif %}" href="{{ path('ticket.show') }}">Les billets achetés</a>
                    </li>
                {% endif %}
                {% if  app.user != true %}
                <li class="nav-item">
                    <a class="nav-link {% if c_menu is defined and c_menu == 'register' %}active{% endif %}" href="{{ path('register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if c_menu is defined and c_menu == 'login' %}active{% endif %}" href="{{ path('login') }}">Connexion</a>
                </li>
                {% endif %}
                {% if  app.user.roles is defined and app.user.roles == ['ROLE_ADMIN'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.attraction.index') }}">Admin</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}